*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{

    height: 100vh;
    overflow: scroll;
    margin: 0;
    background-color: rgb(243, 243, 243);

    font-family: "Inter", sans-serif;
  

}